.container {
  display: flex;
  flex-direction: column;
  gap: 44px;
}

.review {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.reviewHeader {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.reviewHeaderLeft {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: var(--badges);
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  color: var(--button);
}

.reviewHeaderRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}

.reviewHeaderRight p {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: var(--main);
}

.reviewHeaderRightStars {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.reviewHeaderRightStars img {
  width: 16px;
  height: 16px;
}

.reviewComment p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--text);
}
