.container {
  width: 888px;
  min-height: 200px;
  background-color: var(--white);
  padding-right: 64px;
  padding-top: 48px;
}

.trucksList {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
