.container {
  width: 1440px;
  min-height: 500px;
  margin: 0 auto;
  background-color: var(--color-white);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  color: var(--color-primary);
}