:root {
  /* Color Palette */
  --color-navy: #101828;
  --color-slate: #475467;
  --color-gray: #6C717B;
  --color-red-primary: #E44848;
  --color-red-secondary: #D84343;
  --color-yellow: #FFC531;
  --color-light-gray: #DADDE1;
  --color-lighter-gray: #F2F4F7;
  --color-lightest-gray: #F7F7F7;
  --color-white: #FFFFFF;

  font-family: "Inter", sans-serif;
}
